body {
  font-family: "Exo 2", sans-serif;
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  background-color: gainsboro;
  line-height: 1.5;
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.lastResult {
  color: white;
  padding: 3px;
}
